<tr>
  <td><%= attendance.clock_in.strftime('%b, %d')%></td>
  <td><%= attendance.clock_out&.strftime('%b, %d')%></td>
  <td><%= Time.at(attendence.duration).utc.strftime("%H:%M") if attendence.duration %></td>
</tr>
