<%= render 'form' %>

<table align="center">
  <thead>
    <tr>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th colspan="2">Duration</th>
    </tr>
  </thead>
  <tbody>
    <%= render @attendances %>
  </tbody>
</table>
